<?xml version="1.0" encoding="UTF-8"?>
<!-- 
when launching give bag name as an argument: 
roslaunch vectornav convert.launch bag_filename:=/home/osboxes/Downloads/2017-10-19-16-39-37.bag
-->
<launch>

	<!-- play a bag file -->
	<node pkg="rosbag" type="play" name="player" output="screen" args="$(arg bag_filename)"/>
	
	<!-- convert vn200 imu messages to standard ros imu messages -->
	<node pkg="vectornav" name="convert" type="silvere_convert_to_fake_imu.py"/>
	
	<!-- record a bag file -->
	<node pkg="rosbag" type="record" name="recorder" output="screen" args=" -o converted /FluidPressure /imu /MagneticField /NavSatFix /Temerature /TimeRef /horizontal_laser_3d"/>
	
</launch>


